@import "tailwindcss";

@font-face {
  font-family: "Akatab";
  src: url("/Akatab.ttf");
}
@font-face {
  font-family: "Heebo";
  src: url("/Heebo.ttf");
}

:root {
  --base-text: #15161a;
  --base-text-grayed: #626262;
  --surface: #ffffff;
  --surface-hovered: #e7e7e7;
  --container: #f4f4f4;
  --container-hovered: #ebebeb;
  --primary: #fdd037;
  --primary-hovered: #fdd95f;
  --secondary: #0295a9;
  --error: #c3241f;
  --error-hovered: #dd2922;
}
@media (prefers-color-scheme: dark) {
  :root {
    --base-text: #fcfcf7;
    --base-text-grayed: #a9a9a9;
    --surface: #181818;
    --surface-hovered: #1f1f1f;
    --container: #292929;
    --container-hovered: #303030;
    --primary: hsl(40, 100%, 65%);
    --primary-hovered: hsl(40, 100%, 70%);
    --secondary: #0295a9;
    --error: hsl(2, 60%, 45%);
    --error-hovered: hsl(2, 60%, 50%);
  }
}

@theme {
  --color-primary-100: #fff9e6;
  --color-primary-200: #feedb3;
  --color-primary-300: #fee181;
  --color-primary-400: #fdd54e;
  --color-primary-500: #fdd037;
  --color-primary-dark-400: #fdc81c;
  --color-primary-dark-500: #ca9b02;

  --color-gray-400: #d9d9d9;
  --color-gray-500: #dfdfdf;
}

html {
  font-family: "Akatab", serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Heebo", serif;
  font-weight: 600;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}

body {
  min-height: 100dvh;
  background-image: url("/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75%;
  font-size: 18px;
  color: var(--base-text);
}

.text-gray {
  color: var(--base-text-grayed);
}
.text-error {
  color: var(--error);
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url("/background_dark.jpg");
  }
}

.dialog--overlay {
  background-color: #00000085;
  position: fixed;
  inset: 0;
  backdrop-filter: blur(10px);
}
.dialog--content {
  background-color: var(--surface);
  padding: 16px 32px 24px 32px;

  width: 90vw;
  max-width: 500px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border:
    2px solid,
    hsla(60, 0%, 35%, 0.4);
  background-clip: padding-box;
  border-radius: 16px;
  z-index: 10;
}

.dialog--title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 16px;
}

.avatar {
  background-color: #fdd037;
  border-radius: 999px;
}

.avatar-preview.active {
  border: 2px solid #fdd037;
  border-radius: 8px;
}
.avatar-preview:focus-visible {
  outline: 4px solid #fdd037;
  border-radius: 8px;
}

.btn {
  min-width: 100px;
  cursor: pointer;
  background-color: var(--container);
  @apply px-4 py-2 rounded-full;
}
.btn:hover {
  background-color: var(--container-hovered);
}

.btn:focus-visible {
  outline: 1px solid var(--primary);
}

.btn.primary {
  background-color: var(--primary);
}
.btn.error {
  background-color: var(--error);
}
.btn.error:hover {
  background-color: var(--error-hovered);
}
.btn.primary:hover {
  background-color: var(--primary-hovered);
}

.ip {
  background-color: var(--container);
  color: var(--base-text);
  @apply px-4 py-2 rounded-full;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 40px;
  caret-color: var(--primary);
}
.ip:hover {
  background-color: var(--container-hovered);
}

.ip::placeholder {
  color: var(--base-text-grayed);
}

.ip:focus-visible {
  outline: 2px solid var(--primary);
  border: none;
}

.btn-icon {
  height: 40px;
  aspect-ratio: 1;
  cursor: pointer;
  background-color: var(--container);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  @apply p-2 rounded-full;
}
.btn-icon:hover {
  background-color: var(--container-hovered);
}

.btn-icon:focus-visible {
  outline: 2px solid var(--primary);
}

.btn-icon.primary {
  @apply hover:bg-primary-400 bg-primary-500 dark:hover:bg-primary-dark-400 dark:bg-primary-dark-500;
}
.btn-icon.ghost,
.btn-icon.ghost:hover {
  background: none;
  border: none;
}
.btn-icon.ghost:hover .icon {
  fill: var(--primary);
}

.panel {
  background-color: var(--surface);
  padding: 8px 16px 16px 16px;
  border-radius: 16px;
  border: 1px solid transparent;
  position: relative;
  background-clip: padding-box;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    background: linear-gradient(
      to bottom,
      hsla(60, 0%, 45%, 0.2),
      hsl(60, 0%, 45%)
    );
    opacity: 0.1;
    border-radius: inherit;
  }
}

.actions-wrapper .actions-wrapper__actions {
  opacity: 0;
}
.actions-wrapper:hover .actions-wrapper__actions {
  opacity: 1;
}

.user-item {
  min-width: 350px;
}

.disabled {
  color: var(--base-text-grayed);
  svg path {
    fill: var(--base-text-grayed);
  }
}

@media (prefers-color-scheme: dark) {
  .icon {
    fill: var(--base-text);
  }

  .btn,
  .btn-icon,
  .ip {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .btn.primary {
    color: var(--surface);
  }

  .btn-icon .icon {
    fill: var(--base-text);
  }
  .btn-icon:hover {
    background-color: var(--container-hovered);
  }

  .panel::before {
    background: linear-gradient(to bottom, hsla(60, 45%, 98%, 0.2), #fcfcf7);
  }

  .dialog--content {
    border-color: hsla(60, 45%, 98%, 0.1);
  }
}
