@import "tailwindcss";

@font-face {
  font-family: "Akatab";
  src: url("/Akatab.ttf");
}
@font-face {
  font-family: "Heebo";
  src: url("/Heebo.ttf");
}

@theme {
  --color-primary-100: #fff9e6;
  --color-primary-200: #feedb3;
  --color-primary-300: #fee181;
  --color-primary-400: #fdd54e;
  --color-primary-500: #fdd037;
  --color-primary-dark-400: #fdc81c;
  --color-primary-dark-500: #ca9b02;

  --color-gray-400: #d9d9d9;
  --color-gray-500: #dfdfdf;
}

html {
  font-family: "Akatab", serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Heebo", serif;
  font-weight: bold;
}

body {
  min-height: 100dvh;
  background-image: url("/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url("/background_dark.jpg");
    color: white;
  }
}

.dialog--overlay {
  background-color: #00000085;
  position: fixed;
  inset: 0;
  backdrop-filter: blur(10px);
}
.dialog--content {
  border: solid white 1px;
  box-shadow: 0 4 16 #0009;
  border-radius: 16px;
  padding: 16px;
  background-color: white;

  width: 90vw;
  max-width: 500px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.avatar {
  background-color: #fdd037;
  border-radius: 999px;
}

.avatar-preview.active {
  border: 2px solid #fdd037;
  border-radius: 8px;
}
.avatar-preview:focus-visible {
  outline: 4px solid #fdd037;
  border-radius: 8px;
}

.btn {
  min-width: 100px;
  @apply px-4 py-2 rounded-full bg-gray-500 hover:bg-gray-400 outline-primary-500;
  cursor: pointer;
}

.btn.primary {
  @apply hover:bg-primary-400 bg-primary-500 dark:hover:bg-primary-dark-400 dark:bg-primary-dark-500;
}

.ip {
  @apply px-4 py-2 rounded-xl bg-gray-500 outline-primary-500;
}

.btn-icon {
  @apply p-2 rounded-full bg-gray-500 hover:bg-gray-400 outline-primary-500;
  cursor: pointer;
}

.btn-icon.primary {
  @apply hover:bg-primary-400 bg-primary-500 dark:hover:bg-primary-dark-400 dark:bg-primary-dark-500;
}
.btn-icon.ghost {
  background: none;
}
.btn-icon.ghost:hover {
  @apply hover:bg-gray-400;
}

@media (prefers-color-scheme: dark) {
  .icon {
    fill: white;
  }
}
