:root {
  --mainColor: rgb(37, 37, 37);
  --firstColor: rgb(255 87 36);
  --secondColor: rgb(40 201 171);
  --disabledColor: gray;
}

.App {
  display: grid;
  grid-template-columns: [sidebar-start] 20vw [main] auto [right-sidebar-start] 300px;
  grid-template-rows: [header-start] 56px [main] calc(100vh - 112px) [footer-start] 56px;
}

.App-logo {
  height: 40vmin;
  animation: App-logo-spin infinite 20s linear;
}

.App-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-end: -1;
  grid-column-start: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: #282c34;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  z-index: 10;
  box-shadow: 1px 2px 5px 0px #000000a1;
}

.App-main {
  margin: 25px;
  grid-column-start: main;
  grid-column-end: -1;
}
.App-nav {
  grid-column-start: sidebar-start;
  background-color: #282c34;
  grid-row-start: 2;
  grid-row-end: -1;
  max-width: 250px;
}
.App-nav ul {
  list-style: none;
  margin: 16px 0 0 0;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
}

.App-nav ul li {
  padding: 10px;
  margin: 2px;
  border: 1px solid #282c34;
}

.App-nav ul li:hover {
  border: 1px solid white;
  transition: border 0.2s ease-in-out;
}

.App-nav ul a {
  color: white;
  text-decoration: none;
}

.wesoły-div-😂 {
  width: 45%;
  margin: 1rem;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 10px grey;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bet-id {
  color: var(--disabledColor);
  margin-left: 1rem;
}

.wesoły-div-😂 .flex {
  display: flex;
  justify-content: space-between;
}

.bet-info {
  align-items: center;
}

.wesoły-div-😂 .options div {
  width: 44%;
  padding: 1rem;
  border-radius: 2px;
  filter: grayscale(1);
}

.wesoły-div-😂 .options div:first-child {
  background-color: var(--firstColor);
}
.wesoły-div-😂 .options div:last-child {
  background-color: var(--secondColor);
}

main ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.winner {
  filter: grayscale(0);
}
