:root {
  --mainColor: #282c34;
  --firstColor: rgb(255 167 36);
  --secondColor: rgb(201 196 40);
  --actionsColor: #f1863a;
  --disabledColor: #dcdcdb;
  --whiteColor: #fff;
  --checkboxSelectedColor: #545a64;
}

.ms-Button--primary:hover {
  background-color: var(--checkboxSelectedColor);
  border-color: var(--checkboxSelectedColor);
}

.ms-Checkbox {
  margin-left: 8px;
}

.ms-Checkbox label div {
  background-color: var(--whiteColor);
}

.ms-Checkbox i[data-icon-name='CheckMark'] {
  background-color: var(--whiteColor);
}

.is-checked.ms-Checkbox label div {
  background-color: var(--checkboxSelectedColor);
}

.is-checked.ms-Checkbox i[data-icon-name='CheckMark'] {
  background-color: var(--checkboxSelectedColor);
}

.App {
  display: grid;
  grid-template-columns: [sidebar-start] 20vw [main] auto [right-sidebar-start] 300px;
  grid-template-rows: [header-start] 56px [main] calc(100vh - 112px) [footer-start] 56px;
}

.App-logo {
  height: 40vmin;
  animation: App-logo-spin infinite 20s linear;
}

.App-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-end: -1;
  grid-column-start: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-header {
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: var(--mainColor);
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--whiteColor);
  z-index: 10;
  box-shadow: 1px 2px 5px 0px #000000a1;
}

.App-main {
  margin: 25px;
  grid-column-start: main;
  grid-column-end: -1;
}

.App-nav {
  grid-column-start: sidebar-start;
  background-color: var(--mainColor);
  grid-row-start: 2;
  grid-row-end: -1;
  max-width: 250px;
}

.App-nav ul {
  list-style: none;
  margin: 16px 0 0 0;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
}

.App-nav ul li {
  padding: 10px;
  margin: 2px;
  border: 1px solid var(--mainColor);
}

.App-nav ul li:hover {
  border: 1px solid var(--whiteColor);
  transition: border 0.2s ease-in-out;
}

.App-nav ul a {
  color: var(--whiteColor);
  text-decoration: none;
}

.bet-card {
  width: 95%;
  max-width: 650px;
  margin: 1rem;
  background-color: var(--whiteColor);
  border-radius: 3px;
  box-shadow: 0px 0px 10px grey;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.bet-card h2 {
  margin-right: 4px;
  width: 100%;
}

.bet-card h2 input {
  font-size: 22px;
}

.bet-card h2 .ms-TextField-fieldGroup {
  height: 44px;
}

.bet-card .option {
  width: 44%;
  padding: 0.5rem;
  border-radius: 2px;
  text-align: center;
}

.bet-card .option:first-child {
  background-color: var(--firstColor);
}

.bet-card .option:last-child {
  background-color: var(--secondColor);
}

.bet-list-page {
  align-items: center;
  justify-content: space-between;
}

#add-bet-button {
  background-color: var(--actionsColor);
  border-radius: 50%;
  color: var(--whiteColor);
  padding: 25px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  box-shadow: #868686 0px 0px 10px;
}

.manage-buttons {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.manage-buttons i {
  padding: 0.5rem;
  border-radius: 2px;
  color: var(--whiteColor);
}

.manage-buttons i[data-icon-name='Edit'],
.manage-buttons i[data-icon-name='PublishContent'] {
  background-color: var(--firstColor);
}

.manage-buttons button[disabled] i[data-icon-name='Edit'] {
  background-color: var(--disabledColor);
}

.manage-buttons i[data-icon-name='Delete'],
.manage-buttons i[data-icon-name='Archive'] {
  background-color: var(--actionsColor);
}

.ms-Button--primary {
  background-color: var(--checkboxSelectedColor);
  border-color: var(--checkboxSelectedColor);
}

.wrap {
  flex-wrap: wrap;
}

ul {
  display: flex;
  justify-content: space-around;
}

.confirmation-buttons {
  display: flex;
  justify-content: end;
  margin-top: 0.2rem;
}

.confirmation-buttons button {
  margin-left: 0.2rem;
}

.ms-TextField {
  width: 100%;
  margin: 4px 0;
}

.App-header i {
  display: none;
}

/* MEDIA SCREEN */
/* TABLET */
@media only screen and (max-width: 768px) {
  .App-nav {
    z-index: 1;
    grid-row: span 2 / -1;
    grid-column-end: 2;
  }

  .App-main {
    grid-row: 2;
    grid-column-start: 1;
  }

  .App {
    grid-template-columns: [sidebar-start] 40vw [main] auto [right-sidebar-start] 0px;
    grid-template-rows: [header-start] 56px [main] calc(100vh - 112px) [footer-start] 56px;
  }

  .App-nav ul li {
    border-bottom: 1px solid #1a1a1a;
  }

  .App-header i {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin: 16px 0 0 16px;
  }

  .App-nav.visible {
    display: block;
  }

  .App-nav.visible {
    display: none;
  }
}

.notification {
  position: fixed;
  right: 0;
  top: 82px;
  z-index: 100;

  animation: showNotification 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.notification h4 {
  margin: 0;
}

.toast.visible {
  display: block;
}
.toast.invisible {
  display: none;
}
.toast {
  background-color: #ff00008c;
  padding: 10px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  max-width: 80%;
  color: white;
  border-radius: 5px;
}

@keyframes showNotification {
  from {
    transform: translateX(450px);
  }

  to {
    transform: translate(0);
  }
}

.token-wrapper .copy-icon {
  margin: 4px 0;
}
