:root {
  --mainColor: rgb(37, 37, 37);
  --firstColor: rgb(255 87 36);
  --secondColor: rgb(40 201 171);
  --disabledColor: gray;
}

.App {
  display: grid;
  grid-template-columns: [sidebar-start] 20vw [main] auto [right-sidebar-start] 300px;
  grid-template-rows: [header-start] 56px [main] calc(100vh - 112px) [footer-start] 56px;
}

.App-logo {
  height: 40vmin;
  animation: App-logo-spin infinite 20s linear;
}

button {
  padding: 0.1rem;
  border-radius: 2px;
}

button.accept {
  background-color: #35b44f;
  border: solid 2px #3d8d4d;
}

button.delete {
  background-color: #b43546;
  border: solid 2px #86424b;
}

.checkbox {
  scale: 1.5;
}

.bet-card h2 > input {
  font-size: 1em;
}

.bet-card input:not(.checkbox, textarea) {
  width: 100%;
  border: none;
  background-color: initial;
  padding: 0.5rem;
}

.bet-card h2 {
  width: 80%;
}

.form textarea {
  padding: 0.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 20%;
}

.App-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-end: -1;
  grid-column-start: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-header {
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: #282c34;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  z-index: 10;
  box-shadow: 1px 2px 5px 0px #000000a1;
}

.App-main {
  margin: 25px;
  grid-column-start: main;
  grid-column-end: -1;
}

.App-nav {
  grid-column-start: sidebar-start;
  background-color: #282c34;
  grid-row-start: 2;
  grid-row-end: -1;
  max-width: 250px;
}

.App-nav ul {
  list-style: none;
  margin: 16px 0 0 0;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
}

.App-nav ul li {
  padding: 10px;
  margin: 2px;
  border: 1px solid #282c34;
}

.App-nav ul li:hover {
  border: 1px solid white;
  transition: border 0.2s ease-in-out;
}

.App-nav ul a {
  color: white;
  text-decoration: none;
}

.bet-card {
  width: 45%;
  margin: 1rem;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 10px grey;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bet-id {
  color: var(--disabledColor);
  margin-left: 1rem;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.bet-card .options div {
  width: 44%;
  padding: 0.5rem;
  border-radius: 2px;
}

.notFinished {
  filter: grayscale(1);
}

.bet-card .options div:first-child {
  background-color: var(--firstColor);
}

.bet-card .options div:last-child {
  background-color: var(--secondColor);
}

main ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.winner {
  filter: grayscale(0);
  font-size: 2rem;
}

.App-header i {
  display: none;
}

/* MEDIA SCREEN */
/* TABLET */
@media only screen and (max-width: 768px) {
  .App-nav {
    z-index: 1;
    grid-row: span 2 / -1;
    grid-column-end: 2;
  }
  .App-main {
    grid-row: 2;
    grid-column-start: 1;
  }
  .App {
    grid-template-columns: [sidebar-start] 40vw [main] auto [right-sidebar-start] 0px;
    grid-template-rows: [header-start] 56px [main] calc(100vh - 112px) [footer-start] 56px;
  }
  .App-nav ul li {
    border-bottom: 1px solid #1a1a1a;
  }

  .App-header i {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin: 16px 0 0 16px;
  }

  .App-nav.visible {
    display: block;
  }
  .App-nav.visible {
    display: none;
  }
}
/* MOBILE */
@media only screen and (max-width: 425px) {
}
