body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dcdcdb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  cursor: pointer;
}

button:not(button:disabled):hover,
.ms-Checkbox {
  filter: brightness(0.9);
}

ul {
  margin: 0;
  padding: 0;
}

.flex-space-between {
  justify-content: space-between;
}
.settings-page .connection-status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.settings-page .connection-status .label {
  margin: 10px 0;
  font-weight: bold;
}
.settings-page .connection-status .type {
  display: flex;
  align-items: center;
}
